.DS_Store
._*
.ipynb_checkpoints/
*.ipynb_checkpoints
__pychache__/
*.pyc
*.pyo
*.pyd
.python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.orig
*.rej
*.swo
*.swo
*.swp
*~
.dockerignore
.vscode/
.idea/
*.log
